body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: gray;
  background: url('assets/images/websitebg.jpeg') no-repeat center fixed;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#avatar{
  width: 150px;
  height: 155px;
  border-radius: 50%;
}

.project-img { 
  padding: 5px;
  margin: 5px;
  max-height: 200px;
  max-width: 200px;
  border-radius: 12%;
}
.hoverable:hover {
  box-shadow: 3px 5px 10px 10px #888888;
  border-radius: 25%;
}

#icons {
  display: flex;
  column-gap: 8px;
}
.icon{
  border-radius: 30%;
  outline: 1.5px solid #fff;
  transition-property: 
    outline-offset, outline-color,background-color;
  transition-duration: 0.25s;
}

.icon:hover {
  outline-offset: 2px;
}

.icon i {
  margin: auto;
}

.icon:hover i {
animation: shake 0.25s;
}

#phone:hover{
 background-color: blue;
}

#email:hover{
  background-color: orange;
}

#github:hover{
  background-color: green;
}

@keyframes shake {
  10% {
    transform: rotate(15deg);
  }
  20% {
    transform: rotate(-15deg);
  }
  30% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-15deg);
  }
}